# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.zip

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid

# Models
models/*.pkl